<!DOCTYPE html>
<html class="success">
  <head>
    <meta charset="UTF-8">
    <title>Multiple Screenshots Done</title>
    <link href="css/bulma.min.css" text="text/css" rel="stylesheet" />
    <link href="css/styles.css" text="text/css" rel="stylesheet" />
  </head>
  <body>
  	<section class="section">
  	    <div class="container">
          <div id="page-actions">
            <button class="button is-medium" onclick="window.close();">Close Window</button>
          </div>
  	      <h1 class="title">
  	        Success
  	      </h1>

  	    </div>
  	  </section>

  </body>
</html>